{% extends 'base.html' %}

{% block title %}Welcome to Simple Design{%endblock%}

{% block content%}
<div class="container-custom">
    <h3>{{cat.title}}</h3>
    <div class="img-container">
        <img src="/media/{{cat.image}}" class="responsive-img" alt="">
    </div>
    <div class="collection">
        {% for p in posts%}
        <a href="/blog/{{p.url}}" class="collection-item">{{p.title}}</a>
        {%empty%}
        <h3>No post in this Category<h3>
        {%endfor%}
      </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% comment %} <ul class="pagination">
    {% if POST.has_previous %}
    <li class="active"><a href="?page=1">First</a></li>
    <li class="waves-effect"><a href="/?page={{POST.previous_page_number}}">Previous</a></li>
    {% endif%}
    {%for n in totalpagelist %}
    <li class="waves-effect"><a href="/?page={{n}}">{{n}}</a></li>
    {% endfor %}
    {%if POST.has_next %}
    <li class="waves-effect"><a href="/?page={{POST.next_page_number}}">Next</a></li>
    {% endif %}
  </ul> {% endcomment %}

{%endblock%}