{% extends 'base.html' %}
{% block content %}
<div class="container">
<section
  class="contact_us"
  style="background-color: #f1f1f1; padding: 120px 0px"
>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div
          class="contact_inner"
          style="
            background-color: #fff;
            position: relative;
            box-shadow: 20px 22px 44px #cccc;
            border-radius: 25px;
          "
        >
          <div class="row">
            <div class="col-md-10">
              <div
                class="contact_form_inner"
                style="
                  background-color: #fff;
                  position: relative;
                  box-shadow: 20px 22px 44px #cccc;
                  border-radius: 25px;
                "
              >
                <div
                  class="contact_field"
                  style="padding: 60px 340px 90px 100px"
                >
                  <h3
                    style="
                      color: #000;
                      font-size: 40px;
                      letter-spacing: 1px;
                      font-weight: 600;
                      margin-bottom: 10px;
                    "
                  >
                    Contatc Us
                  </h3>
                  <p
                    style="
                      color: #000;
                      font-size: 13px;
                      font-weight: 400;
                      letter-spacing: 1px;
                      margin-bottom: 35px;
                    "
                  >
                    Feel Free to contact us any time.<br />We will get back to
                    you as soon as we can!.
                  </p>
                  <form method="post" >
                    {% csrf_token %}
                  <input
                    type="text"
                    class="form-control form-group" name="fullname"
                    placeholder="Name"
                  /><br /><br />
                  <input
                    type="email"
                    class="form-control form-group" name="email"
                    placeholder="Email"
                  /><br /><br />
                  <textarea
                    class="form-control form-group"
                    style="width: 500px" name="message"
                    placeholder="Message"
                  ></textarea
                  ><br /><br />
                  <button
                    class="contact_form_submit"
                    style="
                      background: linear-gradient(
                        to top right,
                        #1325e8 -5%,
                        #8f10b7 100%
                      );
                      border: none;
                      color: #fff;
                      padding: 10px 15px;
                      width: 50%;
                      margin-top: 25px;
                      border-radius: 35px;
                      cursor: pointer;
                      font-size: 14px;
                      letter-spacing: 2px;
                    "
                  >
                    Send
                  </button>
                </form>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="right_conatct_social_icon d-flex align-items-end">
                <div class="socil_item_inner d-flex">
                  <li style="list-style: none">
                    <a
                      style="color: #fff; margin: 0px 15px; font-size: 14px"
                      href="#"
                      ><i class="fab fa-facebook-square"></i
                    ></a>
                  </li>
                  <li style="list-style: none">
                    <a
                      style="color: #fff; margin: 0px 15px; font-size: 14px"
                      href="#"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li style="list-style: none">
                    <a
                      style="color: #fff; margin: 0px 15px; font-size: 14px"
                      href="#"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div
            class="contact_info_sec"
            style="
              position: absolute;
              background-color: #2d2d2d;
              right: 1px;
              top: 18%;
              height: 340px;
              width: 340px;
              padding: 40px;
              border-radius: 25px 0 0 25px;
            "
          >
            <h4 style="letter-spacing: 1px; padding-bottom: 15px">
              Contact Info
            </h4>
            <div
              class="d-flex info_single align-items-center"
              style="margin: 30px 0px"
            >
              <i class="fas fa-headset" style="margin-right: 15px"></i>
              <span style="font-size: 14px; letter-spacing: 1px"
                >+91 8279******</span
              >
            </div>
            <div
              class="d-flex info_single align-items-center"
              style="margin: 30px 0px"
            >
              <i
                class="fas fa-envelope-open-text"
                style="margin-right: 15px"
              ></i>
              <span style="font-size: 14px; letter-spacing: 1px"
                >info@employee.com</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
{% endblock content %}
