<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Simply Design</h5>
          <p class="grey-text text-lighten-4">A meaning of Design is basically major types of document for a Discerption overall project to be developed by an all types of person or all types of team.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <li><a href="/contact" class="grey-text text-lighten-3">Contact Us</a></li>
          {% comment %} <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Copyright Text
      </div>
    </div>
  </footer>